@model RestaurantMenuApp.ViewModels.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ChosenIngredients" class="control-label"></label>
                        <br />
                        @{
                            var ingredientList = Model.Ingredients as List<Ingredient>;
                            @Html.ListBoxFor(model => model.ChosenIngredients, new MultiSelectList(ingredientList, "Id", "Name"), new { Multiple = "multiple", size = "5", @class = "form-control" })
                        }
                        <span asp-validation-for="ChosenIngredients" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="MealTypeId" class="control-label"></label>
                        <br />
                        @{
                            var typesList = Model.MealTypes as IEnumerable<MealType>;

                            foreach (var item in typesList)
                            {
                                @Html.RadioButtonFor(model => model.MealTypeId, item.Id, new { @class = "pl-3; pr-2" })  @Html.Label(item.TypeMeal.ToString()) <br />
                            }

                        }

                        <span asp-validation-for="MealTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check pl-0">
                        <label class="form-check-label pl-0">
                            @Html.CheckBoxFor(model => model.IsVegetarian, new { @class = "pl-3" })
                            @Html.DisplayNameFor(model => model.IsVegetarian)
                        </label>
                    </div>
                </div>
            </div>
            <br />
            <div class="row pb-2">
                <div class="col-4 offset-2 text-center">
                    <a asp-action="Index" class="btn btn-outline-warning btn-block"><i class="fa fa-undo"></i> Back to List</a>
                </div>
                <div class="col-4 text-center">
                    <button type="submit" class="btn btn-outline-primary btn-block"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
            </form>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
