@model IEnumerable<RestaurantMenuApp.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

<h1>Meals</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus"></i> Add New</a>
</p>
<table class="table" id="my-table">
    <thead class="bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MealType)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsVegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.MealType.TypeMeal)
                </td>
                <td class="text-center">
                    <i class="@(item.IsVegetarian ? "fa fa-check text-success" : "fa fa-times text-danger")"></i>
                </td>
                <td>
                    @foreach (var i in item.Ingredients)
                    {
                        <span>@i.Name<br /></span>
                    }
                </td>
                <td>
                    <button class="btn btn-outline-danger js-delete" meal-id="@item.Id">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $("#my-table");
            $("#my-table .js-delete").click(function () {
                var button = $(this);
                var id = button.attr("meal-id");
                var URL = "/meals/delete/" + id;
                var x = confirm("Are you sure you want to delete this meal?");
                if (x) {
                    $.ajax({
                        url: URL,
                        method: "DELETE",
                        success: function (response) {
                            var parent = button.parents("tr");
                            $(parent).fadeOut("slow",
                                function () {
                                    table.row(parent).remove().draw();
                                });
                        }
                    });
                }
                });
    });
    </script>
}




